<header>
    <nav>
        <a href="/">Authors</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
        </ul>
        
    </nav>
</header>